@import './settings';

body {
  position: relative;
  min-width: 360px;
  background: #fff;
  background-size: cover;
}

.width-100 {
  width: 100% !important;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  line-height: 1.3;
}
input, textarea, button {
  &:focus,
  &:hover,
  &:active {
    outline: 0;
  }
}
ol {
  margin-left: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}
.ads {
  display: block;
}

.orbit-slide {
  max-height: 100% !important;
}

.sidebar {
  .ads {
    margin-bottom: 10px;
  }
}

.page-wrapper {
  position: relative;
}
.side-advert {
  position: absolute;
  width: 245px;

  &-left {
    @extend .side-advert;
    right: 101%;
  }
  &-right {
    @extend .side-advert;
    left: 101%;
  }

  @include breakpoint(largde up) {
    display: block;
  }
}

.page-wrapper {
  overflow: hidden;

  &--relative {
    position: relative;
  }
}
