<!DOCTYPE html>
<html class="no-focus">
<head>
    <meta charset="utf-8">

    <title><%= locals.appInfo.description %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <link rel="shortcut icon" href="/assets/backend/img/favicons/favicon.png">

    <link rel="icon" type="image/png" href="/assets/backend/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/backend/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/backend/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/backend/img/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/assets/backend/img/favicons/favicon-192x192.png" sizes="192x192">

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/backend/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/backend/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/backend/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/backend/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/backend/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/backend/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/backend/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/backend/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/backend/img/favicons/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <link rel="stylesheet" href="/assets/backend/css/bootstrap.min.css">
    <link rel="stylesheet" id="css-main" href="/assets/backend/css/oneui.css">

    <script src="/assets/backend/js/core/jquery.min.js"></script>

</head>
<body>

<!-- Page Container -->
<div id="page-container" class="enable-cookies sidebar-l sidebar-o sidebar-mini side-scroll header-navbar-fixed">
    <%- include('backend/sidebar') %>

    <%- include('backend/header') %>

    <%- include('backend/container') %>

    <%- include('backend/footer') %>
</div>
<!-- END Page Container -->

<script src="/assets/backend/js/core/bootstrap.min.js"></script>
<script src="/assets/backend/js/core/jquery.slimscroll.min.js"></script>
<script src="/assets/backend/js/core/jquery.scrollLock.min.js"></script>
<script src="/assets/backend/js/core/jquery.appear.min.js"></script>
<script src="/assets/backend/js/core/jquery.countTo.min.js"></script>
<script src="/assets/backend/js/core/jquery.placeholder.min.js"></script>
<script src="/assets/backend/js/core/js.cookie.min.js"></script>
<script src="/assets/backend/js/core/jquery.form.min.js"></script>
<script src="/assets/backend/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/assets/backend/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/assets/backend/js/plugins/masonry/masonry.min.js"></script>
<script src="/assets/backend/js/app.js"></script>
<script src="/assets/backend/js/common.js"></script>

</body>
</html>