.footer-sitemap.row.small-up-1.medium-up-2.large-up-4
  each category in categories
    .columns
      .footer-sitemap-item
        h3.footer-sitemap-item--heading
          a(href=category.link, title=category.title) #{category.title}
        if category.children
          ul
            each child in category.children
              li
                a.footer-sitemap-item--item(href=child.link, title=child.title) #{child.title}