<!-- Footer -->
<footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
    <div class="pull-right">
        Crafted with <i class="fa fa-heart text-city"></i> by <a class="font-w600" href="https://www.linkedin.com/in/num8er" target="_blank">num8er</a>
    </div>
    <div class="pull-left">
        <a class="font-w600" href="#">{{ env('APP_NAME') }} v.{{ env('APP_VERSION') }}</a> &copy; <span class="js-year-copy"></span>
    </div>
</footer>
<!-- END Footer -->