<!-- Header -->
<header id="header-navbar" class="content-mini content-mini-full">
    <ul class="nav-header pull-left">
        <li class="hidden-md hidden-lg">
            <button type="button" data-action="sidebar_toggle" data-toggle="layout" class="btn btn-default">
                <i class="fa fa-navicon"></i>
            </button>
        </li>
        <li class="hidden-xs hidden-sm">
            <button type="button" data-action="sidebar_mini_toggle" data-toggle="layout" class="btn btn-default">
                <i class="fa fa-ellipsis-v"></i>
            </button>
        </li>
    </ul>

    <ul class="nav-header pull-right">
        <li>
            <div class="btn-group">
                <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                    <img src="/assets/backend/img/avatars/avatar10.jpg" alt="Avatar">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a tabindex="-1" href="{{ route('billing.profile') }}">
                            <i class="si si-lock pull-right"></i>Profile
                        </a>
                    </li>
                    <li>
                        <a tabindex="-1" href="{{ route('auth.destroy') }}">
                            <i class="si si-logout pull-right"></i>Log out
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</header>
<!-- END Header -->