include ../info-bar.pug

mixin photo-news-item(big)
	.photo-news-item--wrapper
		.photo-news-item
			img.photo-news-item--photo(src='/assets/web/img/slider-photo.png')
			if big
				.photo-news-item--labels--big
					.label--red главное
			else
				.photo-news-item--labels
					.label--blue Музыка
					.label--orange Кино
					.label--purple Остальное

			.photo-news-item--content
				a(href='/photos/test-article-2/x')
					if big
						h2.photo-news-item--title Бегемот, тигры, львы
						p.photo-news-item--description
							| Фотографии гостей столицы в период проведенеия первых европейских игр в Баку в период проведенеия первых европейских игр в Баку
					else
						p.photo-news-item--description
							| Фотографии гостей столицы в период проведенеия первых
				if big
					// date, comm, photos, views, label, color
					+info-bar(true, true, true, true, true, 'white')
				else
					// date, comm, photos, views, label, color
					+info-bar(true, true, false, true, false, 'white')