mixin photo-item(size)
	if size === 'big'
		.photo-item.photo-item__big(style="background-image: url('/assets/web/img/slider-photo.png')")
			ul.photo-item--info
				li
					span.photo-item--info--photos Фотограф:
					a(href='') Шаин Мурщудли
				li
					a(href='').photo-item--info--views 99999
				li
					a(href='').photo-item--info--date 6 Декабря

	else if size === 'small'
		.photo-item(style="background-image: url('/assets/web/img/slider-photo.png')")

			ul.photo-item--info
				li
					span.photo-item--info--photos Фотограф:
					a(href='') Шаин Мурщудли
