ul.header-social
	li
		a.header-social--item.header-social--icon-fb(href='', style='')
	li
		a.header-social--item.header-social--icon-tw(href='', style='')
	li
		a.header-social--item.header-social--icon-yt(href='', style='')
	li
		a.header-social--item.header-social--icon-gp(href='', style='')
	li
		a.header-social--item.header-social--icon-rss(href='', style='')
	li
		a.header-social--item.header-social--icon-mail(href='', style='')