a.header-enter(href="")
  i.icon-enter.header-enter--icon
  span.header-enter--text вход

span.header-lang--wrapper
  .js-change-lang.header-lang
    i.icon-flag-rus.header-lang--icon
    span.header-lang--text #{languages[lang]}
    i.icon-caret.header-lang--caret.js-header-lang-caret

  ul.header-lang-dropdown.js-lang-drop-down.hide
    each title, language in languages
      li.header-lang-dropdown--item
        a(href="/"+language)
          i(class="header-lang--icon icon-flag-"+language)
          span.header-lang--text #{title}