ul.header-menu.show-for-large
  each menuElement in menu
    li.header-menu--item
      a(href=menuElement.link, title=menuElement.title) #{menuElement.title}

  li.header-menu--media.show-for-xlarge
    ul
      li
        a.header-menu--media--facebook
      li
        a.header-menu--media--twitter
      li
        a.header-menu--media--google
      li
        a.header-menu--media--search
      li
        a.header-menu--media--user

ul.vertical.menu.header-menu--accordion.hide-for-large(data-accordion-menu)
  li
    a.header-menu--accordion--item(href="#") Меню
    ul.menu.vertical.nested
      each menuElement in menu
        li
          a.header-menu--accordion--item(href=menuElement.link, title=menuElement.title) #{menuElement.title}