ul.header-menu.show-for-large
	li.header-menu--item
		a(href="index.html") Музыка
	li.header-menu--item
		a(href="article.html") Развлечения
	li.header-menu--item
		a(href="article-extended.html") Дизайн
	li.header-menu--item
		a(href="section.html") Кино
	li.header-menu--item
		a(href="") Культура
	li.header-menu--item
		a(href="") Люди
	li.header-menu--item
		a(href="") Город
	li.header-menu--item
		a(href="") Отдых
	li.header-menu--item
		a(href="") Афиша
	li.header-menu--media.show-for-xlarge
		ul
			li
				a.header-menu--media--facebook
			li
				a.header-menu--media--twitter
			li
				a.header-menu--media--google
			li
				a.header-menu--media--search
			li
				a.header-menu--media--user

ul.vertical.menu.header-menu--accordion.hide-for-large(data-accordion-menu)
	li
		a.header-menu--accordion--item(href="#") Меню
		ul.menu.vertical.nested
			li
				a.header-menu--accordion--item(href="index.html") Музыка
			li
				a.header-menu--accordion--item(href="article.html") Развлечения
			li
				a.header-menu--accordion--item(href="article-extended.html") Дизайн
			li
				a.header-menu--accordion--item(href="section.html") Кино
			li
				a.header-menu--accordion--item(href="") Культура
			li
				a.header-menu--accordion--item(href="") Люди
			li
				a.header-menu--accordion--item(href="") Город
			li
				a.header-menu--accordion--item(href="") Отдых
			li
				a.header-menu--accordion--item(href="") Афиша