a.header-enter(href="")
	i.icon-enter.header-enter--icon
	span.header-enter--text вход

span.header-lang--wrapper
	.js-change-lang.header-lang
		i.icon-flag-rus.header-lang--icon
		span.header-lang--text русская версия
		i.icon-caret.header-lang--caret.js-header-lang-caret
	ul.header-lang-dropdown.js-lang-drop-down.hide
		li.header-lang-dropdown--item
			i.icon-flag-rus.header-lang--icon
			span.header-lang--text русская версия
		li.header-lang-dropdown--item
			i.icon-flag-rus.header-lang--icon
			span.header-lang--text прусская версия
		li.header-lang-dropdown--item
			i.icon-flag-rus.header-lang--icon
			span.header-lang--text сская версия

