footer#page-footer.content-mini.content-mini-full.font-s12.bg-gray-lighter.clearfix
  .pull-right
    | Crafted with
    i.fa.fa-heart.text-city
    |  by
    span.font-w600 #{locals.appInfo.company}

  .pull-left
    a.font-w600(href='#') #{locals.appInfo.name} v.#{locals.appInfo.version} b.#{locals.appInfo.build}
    |  &copy;
    span.js-year-copy