header#header-navbar.content-mini.content-mini-full
  ul.nav-header.pull-left
    li.hidden-md.hidden-lg
      button.btn.btn-default(type='button', data-action='sidebar_toggle', data-toggle='layout')
        i.fa.fa-navicon

    li.hidden-xs.hidden-sm
      button.btn.btn-default(type='button', data-action='sidebar_mini_toggle', data-toggle='layout')
        i.fa.fa-ellipsis-v

  ul.nav-header.pull-right
    li
      .btn-group
        button.btn.btn-default.btn-image.dropdown-toggle(data-toggle='dropdown', type='button')
          img(src='/assets/backend/img/avatars/avatar10.jpg', alt='Avatar')
          span.caret

        ul.dropdown-menu.dropdown-menu-right
          li
            a(tabindex='-1', href='/backend/profile')
              i.si.si-lock.pull-right
              | Profile

          li
            a(tabindex='-1', href='/backend/auth/destroy')
              i.si.si-logout.pull-right
              | Log out