// Sidebar
nav#sidebar
  // Sidebar Scroll Container
  #sidebar-scroll
    // Sidebar Content
    .sidebar-content
      // Side Header
      .side-header.side-content.bg-white-op
        // Layout API, functionality initialized in App() -> uiLayoutApi()
        button.btn.btn-link.text-gray.pull-right.hidden-md.hidden-lg(type='button', data-toggle='layout', data-action='sidebar_close')
          i.fa.fa-times
        // Themes functionality initialized in App() -> uiHandleTheme()
        .btn-group.pull-right
          button.btn.btn-link.text-gray.dropdown-toggle(data-toggle='dropdown', type='button')
            i.si.si-drop

          ul.dropdown-menu.dropdown-menu-right.font-s13.sidebar-mini-hide
            li
              a(data-toggle='theme', data-theme='default', tabindex='-1', href='javascript:void(0)')
                i.fa.fa-circle.text-default.pull-right
                span.font-w600 Default
            li
              a(data-toggle='theme', data-theme='/assets/backend/css/themes/amethyst.min.css', tabindex='-1', href='javascript:void(0)')
                i.fa.fa-circle.text-amethyst.pull-right
                span.font-w600 Amethyst
            li
              a(data-toggle='theme', data-theme='/assets/backend/css/themes/city.min.css', tabindex='-1', href='javascript:void(0)')
                i.fa.fa-circle.text-city.pull-right
                span.font-w600 City
            li
              a(data-toggle='theme', data-theme='/assets/backend/css/themes/flat.min.css', tabindex='-1', href='javascript:void(0)')
                i.fa.fa-circle.text-flat.pull-right
                span.font-w600 Flat
            li
              a(data-toggle='theme', data-theme='/assets/backend/css/themes/modern.min.css', tabindex='-1', href='javascript:void(0)')
                i.fa.fa-circle.text-modern.pull-right
                span.font-w600 Modern
            li
              a(data-toggle='theme', data-theme='/assets/backend/css/themes/smooth.min.css', tabindex='-1', href='javascript:void(0)')
                i.fa.fa-circle.text-smooth.pull-right
                span.font-w600 Smooth

        a.h5.text-white(href='#')
          i.fa.fa-circle-o-notch.text-primary
          span.h6.sidebar-mini-hide #{locals.appInfo.name}
      // END Side Header

      // Side Content
      .side-content
        ul.nav-main

          li
            a(href='/backend')
              i.si.si-speedometer
              span.sidebar-mini-hide Dashboard

          li
            a(href='/backend/posts')
              i.si.si-docs
              span.sidebar-mini-hide Posts

          li
            a(href='/backend/categories')
              i.si.si-folder
              span.sidebar-mini-hide Categories

          li
            a(href='/backend/menu')
              i.si.si-list
              span.sidebar-mini-hide Menu

          li
            a(href='/backend/pages')
              i.si.si-docs
              span.sidebar-mini-hide Pages

          li
            a(href='/backend/users')
              i.si.si-users
              span.sidebar-mini-hide Users

      // END Side Content
    // Sidebar Content
  // END Sidebar Scroll Container
// END Sidebar

script.
  $(function(){
    var url = (window.location.href.split('?'))[0];
    $('#sidebar .nav-main:last li a').each(function() {
      var href = ($(this).attr('href').split('?'))[0];
      $(this).removeClass('active');
      if(url == href) {
        console.log(url);
        $(this).addClass('active');
      }
    });
  });