@import '../base/settings';

.index {

  &--block-wide {
    padding-bottom: 15px;
  }

  &--border {
    border-right: 1px solid #f1f1f1;
  }

  &--sidebar {
    padding-left: map-get($grid-column-gutter, medium);
    & > .ads {
      margin-bottom: 10px;
    }
    &--header {
      color: map-get($foundation-palette, primary);
      font-size: 24px;
      font-weight: 600;
      border-bottom: 5px solid map-get($foundation-palette, primary);
      margin-bottom: 5px;
    }
  }
  &--slider {
    position: relative;

    &--container {
      & > * {
        height: auto !important;
      }
      .photo-news-item--content {
        padding: 35% 5% 6%;
      }
    }

    &--bullets {
      display: flex;

      &--container {
        position: absolute;
        width: 100%;
        bottom: 5%;
        padding: 0 5%;
        opacity: 0.7;
      }

      & > * {
        flex: 1;
        display: inline-block;
        margin: 0 3px;
        height: 7px !important;

        &:nth-child(5n+1) {
          background-color: #f28d8e;
        }
        &:nth-child(5n+2) {
          background-color: #91c5f2;
        }
        &:nth-child(5n+3) {
          background-color: #f2d58e;
        }
        &:nth-child(5n+4) {
          background-color: #d8f396;
        }
        &:nth-child(5n+5) {
          background-color: #f39ab8;
        }
      }
    }


    &--arrow-left {
      position: absolute;
      top: 37%;
      left: 0;
      width: 50px;
      height: 60px;
      display: block;
      overflow: hidden;
      transform: rotate(180deg);
      background-repeat: no-repeat;
      opacity: .7;
      background-size: cover;
      background-image: url('../img/arrow2.png');
    }
    &--arrow-right {
      position: absolute;
      top: 37%;
      right: 0;
      width: 50px;
      height: 60px;
      display: block;
      overflow: hidden;
      background-repeat: no-repeat;
      transform: initial;
      opacity: .7;
      background-size: cover;
      background-image: url('../img/arrow2.png');
    }
  }

  &-photo-grid {
    margin-top: 5px;

    &--left {
      display: inline-block;
      width: 68%;
      position: relative;
      vertical-align: top;

      @include breakpoint(medium down) {
        width: 100%;
        margin: 10px 0;
        padding: 0 5px;
      }
    }

    &--right {
      float: right;
      display: inline-block;
      width: 30%;
      vertical-align: top;
      margin-right: 5px;

      @include breakpoint(medium down) {
        width: 100%;
        margin: 10px 0;
        padding: 0 5px;
      }
    }

  }
}
