.footer-legal
	b Материалы с пометками "Новости компаний" и PR публикуются на правах рекламы.
	p
		| При использовании материалов сайта обязательным условием является наличие гиперссылки в пределах первого абзаца на страницу расположения исходной статьи с указанием бренда издания CityLife и CityMag.