ul.footer-social
	li
		a.footer-social--item.footer-social--icon-skype(href='', style='')
	li
		a.footer-social--item.footer-social--icon-fb(href='', style='')
	li
		a.footer-social--item.footer-social--icon-youtube(href='', style='')
	li
		a.footer-social--item.footer-social--icon-google(href='', style='')
	li
		a.footer-social--item.footer-social--icon-twitter(href='', style='')
	li
		a.footer-social--item.footer-social--icon-instagram(href='', style='')