.footer-sitemap-item
	h3.footer-sitemap-item--heading
		a(href='') Кино
	ul
		li
			a(href='').footer-sitemap-item--item Кино
		li
			a(href='').footer-sitemap-item--item Трейлеры
		li
			a(href='').footer-sitemap-item--item АзКино
		li
			a(href='').footer-sitemap-item--item Постеры
		li
			a(href='').footer-sitemap-item--item Короткий метр
