.footer-header.row
	.small-24.small-centered.medium-20.large-14.xlarge-12.xlarge-uncentered
		.row
			.columns.small-12.small-centered.medium-uncentered.medium-7.large-8
				img.footer-header--logo(src='img/logo-footer.png')

			.columns.small-24.medium-17.large-16
				ul.footer-header--menu
					li
						a(href='').footer-header--menu--item
							| О проекте
					li
						a(href='').footer-header--menu--item
							| Реклама
					li
						a(href='').footer-header--menu--item
							| Контакты
	.small-24.xlarge-12.xlarge-uncentered
		.footer-header--indicators
			.footer-header--social
				include ./footer-social.pug
			.footer-header--search
				input(placeholder='Поиск по журналу')
