include ./modules/photo-item/photo-news-item.pug
include ./modules/news-item-ver.pug
include ./modules/catalog-header.pug
include ./modules/photo-item/photo-item.pug

doctype html
html(lang="ru")
	include ./modules/head.pug
	body
		.page-wrapper
			.row.page-wrapper--relative
				.side-advert-left.js-side-advert-flex
					a(href='')
						img(src='./img/side-advert.png')
					a(href='')
						img(src='./img/side-advert.png')
					a(href='')
						img(src='./img/side-advert.png')
				.side-advert-right.js-side-advert-fixed
					a(href='')
						img(src='./img/side-advert.png')
			include ./modules/header.pug
			main.row
				.columns.small-24.medium-19
					.row
						.columns.small-24
							include ./modules/news-page-header.pug
							include ./modules/news-page-content.pug

				.columns.small-5.show-for-medium.sidebar
					.js-scrollable-content
						.ads
							img(src='./img/ad-1.png')
						.ads
							img(src='./img/ad-2.png')
						.ads
							img(src='./img/ad-3.png')
						.ads
							img(src='./img/ad-4.png')

			.row
				.columns.small-24
					+catalog-header('article-page-red')
					.row.small-up-1.medium-up-2.large-up-4
						.columns
							include ./modules/news-item.pug
						.columns
							include ./modules/news-item.pug
						.columns
							include ./modules/news-item.pug
						.columns
							include ./modules/news-item.pug
			.row
				.columns.small-24
					+catalog-header('article-page-grey')
					.row.small-up-1.medium-up-2.large-up-4
						.columns
							include ./modules/news-item.pug
						.columns
							+news-item-ver(false, true, false)
							+news-item-ver(false, true, false)
							+news-item-ver(false, true, false)
						.columns
							include ./modules/news-item.pug
						.columns
							+news-item-ver(false, false, true)
							+news-item-ver(false, false, true)
							+news-item-ver(false, false, true)

		include ./modules/footer.pug
