include ./modules/photo-item/photo-news-item.pug
include ./modules/news-item-ver.pug
include ./modules/catalog-header.pug
include ./modules/photo-item/photo-item.pug

doctype html
html(lang="ru")
	include ./modules/head.pug
	body
		.page-wrapper
			.row.page-wrapper--relative
				.side-advert-left.js-side-advert-flex
					a(href='')
						img(src='/assets/web/img/side-advert.png')
					a(href='')
						img(src='/assets/web/img/side-advert.png')
					a(href='')
						img(src='/assets/web/img/side-advert.png')
				.side-advert-right.js-side-advert-fixed
					a(href='')
						img(src='/assets/web/img/side-advert.png')
			include ./modules/header.pug
			main.row
				.columns.small-24.large-19

					.row.index--border
						.columns.small-24.medium-10
							include ./modules/news-item.pug
						.columns.small-24.medium-14
							+news-item-ver(true, true, true)
							+news-item-ver(true, true, true)
							+news-item-ver(true, true, true)

					.row.index--border
						+catalog-header('small')
						.columns.small-24.medium-8
							include ./modules/news-item.pug
						.columns.small-24.medium-8
							include ./modules/news-item.pug
						.columns.small-24.medium-8
							+news-item-ver(true, false, true)
							+news-item-ver(true, false, true)
							+news-item-ver(true, false, true)

					.row.index--border
						+catalog-header('small')
						.columns.small-24.medium-8
							include ./modules/news-item.pug
						.columns.small-24.medium-8
							+news-item-ver(false, true, false)
							+news-item-ver(false, true, false)
							+news-item-ver(false, true, false)
						.columns.small-24.medium-8
							include ./modules/news-item.pug

					.row.index--border
						+catalog-header('small')
						.columns.small-24.medium-8
							include ./modules/news-item.pug
						.columns.small-24.medium-16
							+photo-news-item(true)

					.row.index--border
						+catalog-header('small')
						.columns.small-24.medium-8
							include ./modules/news-item.pug
						.columns.small-24.medium-8
							include ./modules/news-item.pug
						.columns.small-24.medium-8
							+news-item-ver(true, false, true)
							+news-item-ver(true, false, true)
							+news-item-ver(true, false, true)

				.columns.small-5.show-for-large.sidebar
					.js-scrollable-content
						a(href='#').ads
							img(src='/assets/web/img/ad-1.png')
						a(href='#').ads
							img(src='/assets/web/img/ad-2.png')
						a(href='#').ads
							img(src='/assets/web/img/ad-3.png')

						h2.sidebar--header Новости
						include ./modules/news-item.pug
						include ./modules/news-item.pug
						include ./modules/news-item.pug

		include ./modules/footer.pug
