include ./modules/photo-item/photo-news-item.pug
include ./modules/news-item-ver.pug
include ./modules/catalog-header.pug
include ./modules/photo-item/photo-item.pug

doctype html
html(lang=lang)
  include ./modules/head.pug
  body
    .page-wrapper
      .row.page-wrapper--relative
        .side-advert-left.js-side-advert-flex
          a(href='')
            img(src='/assets/web/img/side-advert.png')
          a(href='')
            img(src='/assets/web/img/side-advert.png')
          a(href='')
            img(src='/assets/web/img/side-advert.png')
        .side-advert-right.js-side-advert-fixed
          a(href='')
            img(src='/assets/web/img/side-advert.png')
      include ./modules/header.pug
      main.row
        .columns.small-24.large-19
          .row.index--block-wide.js-index-first-block.hide
            .columns.small-24.medium-16.index--slider
              .index--slider--container.js-main-slider
                ul.orbit-container
                  span.index--slider--arrow-left.orbit-previous
                  span.index--slider--arrow-right.orbit-next
                  li.orbit-slide
                    +photo-news-item(true)
                  li.orbit-slide
                    +photo-news-item(true)
                  li.orbit-slide
                    +photo-news-item(true)
                  li.orbit-slide
                    +photo-news-item(true)
                  li.orbit-slide
                    +photo-news-item(true)

                .index--slider--bullets--container
                  nav.index--slider--bullets
                    button.is-active(data-slide='0')
                    button(data-slide='1')
                    button(data-slide='2')
                    button(data-slide='3')
                    button(data-slide='4')


            .columns.small-24.medium-8.index--slider--aside
              +photo-news-item(false)
              +photo-news-item(false)

          .row.index--border.index--block-wide
            +catalog-header('index-news-green')
            .columns.small-24.medium-10
              include ./modules/news-item.pug
            .columns.small-24.medium-14
              +news-item-ver(true, true, true)
              +news-item-ver(true, true, true)
              +news-item-ver(true, true, true)

          .row.index--border.index--block-wide
            +catalog-header('yellow')
            .js-content-slider.index--slider--container
              ul.orbit-container
                li.orbit-slide
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug
                  .columns.small-24.medium-8
                    +news-item-ver(true, false, true)
                    +news-item-ver(true, false, true)
                    +news-item-ver(true, false, true)
                li.orbit-slide
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug
                  .columns.small-24.medium-8
                    +news-item-ver(true, false, true)
                    +news-item-ver(true, false, true)
                    +news-item-ver(true, false, true)

          .row.index--border.index--block-wide
            +catalog-header('red')
            .js-content-slider.index--slider--container
              ul.orbit-container
                li.orbit-slide
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug
                  .columns.small-24.medium-8
                    +news-item-ver(false, true, false)
                    +news-item-ver(false, true, false)
                    +news-item-ver(false, true, false)
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug
                li.orbit-slide
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug
                  .columns.small-24.medium-8
                    +news-item-ver(false, true, false)
                    +news-item-ver(false, true, false)
                    +news-item-ver(false, true, false)

          .row.index--border.index--block-wide
            +catalog-header('grey')
            .js-content-slider.index--slider--container
              ul.orbit-container
                li.orbit-slide
                  .columns.small-24
                    .index-photo-grid
                      .index-photo-grid--left
                        +photo-item('big')
                      .index-photo-grid--right
                        +photo-item('small')
                        +photo-item('small')
                li.orbit-slide
                  .columns.small-24
                    .index-photo-grid
                      .index-photo-grid--left
                        +photo-item('big')
                      .index-photo-grid--right
                        +photo-item('small')
                        +photo-item('small')

          .row.index--border.index--block-wide
            +catalog-header('blue')
            .js-content-slider.index--slider--container
              ul.orbit-container
                li.orbit-slide
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug
                  .columns.small-24.medium-8
                    +news-item-ver(true, false, true)
                    +news-item-ver(true, false, true)
                    +news-item-ver(true, false, true)
                li.orbit-slide
                  .columns.small-24.medium-8
                    +news-item-ver(true, false, true)
                    +news-item-ver(true, false, true)
                    +news-item-ver(true, false, true)
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug

          .row.index--border.index--block-wide
            +catalog-header('blue')
            .js-content-slider.index--slider--container
              ul.orbit-container
                li.orbit-slide
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug
                  .columns.small-24.medium-8
                    +news-item-ver(true, false, true)
                    +news-item-ver(true, false, true)
                    +news-item-ver(true, false, true)
                li.orbit-slide
                  .columns.small-24.medium-8
                    +news-item-ver(true, false, true)
                    +news-item-ver(true, false, true)
                    +news-item-ver(true, false, true)
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug
                  .columns.small-24.medium-8
                    include ./modules/news-item.pug

        .columns.small-5.show-for-large.sidebar
          .js-scrollable-content
            .ads
              img(src='/assets/web/img/ad-1.png')
            .ads
              img(src='/assets/web/img/ad-2.png')
            .ads
              img(src='/assets/web/img/ad-3.png')
            .ads
              img(src='/assets/web/img/ad-4.png')
            h2.sidebar--header Новости
            include ./modules/news-item.pug
            include ./modules/news-item.pug
            include ./modules/news-item.pug

      include ./modules/footer.pug