doctype html
html
  head
    meta(http-equiv="Content-Type", content="charset=utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no")
    title #{locals.appInfo.description}

    link(rel="shortcut icon" href="/assets/backend/img/favicons/favicon.png")
    link(rel="icon" type="image/png" href="/assets/backend/img/favicons/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="/assets/backend/img/favicons/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/assets/backend/img/favicons/favicon-96x96.png" sizes="96x96")
    link(rel="icon" type="image/png" href="/assets/backend/img/favicons/favicon-160x160.png" sizes="160x160")
    link(rel="icon" type="image/png" href="/assets/backend/img/favicons/favicon-192x192.png" sizes="192x192")
    link(rel="apple-touch-icon" sizes="57x57" href="/assets/backend/img/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/assets/backend/img/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/assets/backend/img/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/assets/backend/img/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/assets/backend/img/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/assets/backend/img/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/assets/backend/img/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/assets/backend/img/favicons/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/backend/img/favicons/apple-touch-icon-180x180.png")

    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700")

    link(rel="stylesheet" href="/assets/backend/css/bootstrap.min.css")
    link(rel="stylesheet" href="/assets/backend/css/oneui.css")
  body

    .bg-white.pulldown
        .content.content-boxed.overflow-hidden
          .row
            .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
              .push-30-t.push-50.animated.fadeIn

                .text-center
                  i.fa.fa-2x.fa-circle-o-notch.text-primary
                  p.text-muted.push-15-t #{locals.appInfo.description}

                form.js-validation-login.form-horizontal.push-30-t(action='/auth', method='post')
                  .form-group
                    .col-xs-12.col-sm-6
                      .form-material.form-material-primary.floating
                        input#username.form-control(type='text', name='username', placeholder='Username')
                    .col-xs-12.col-sm-6
                      .form-material.form-material-primary.floating
                        input#password.form-control(type='password', name='password', placeholder='Password')
                  .form-group
                    .col-xs-12.col-sm-6
                      label.css-input.switch.switch-sm.switch-primary
                        input#remember(type="checkbox", name="remember")
                        span
                        | Remember
                    .col-xs-12.col-sm-6
                      button.btn.btn-sm.btn-block.btn-primary(type='submit') Log in

    .pulldown.push-30-t.text-center.animated.fadeUp
      small.text-muted
        span.js-year-copy
        | &copy; #{locals.appInfo.company} - #{locals.appInfo.name} v.#{locals.appInfo.version} b.#{locals.appInfo.build}

    script(src="/assets/backend/js/core/jquery.min.js")
    script(src="/assets/backend/js/core/bootstrap.min.js")
    script(src="/assets/backend/js/core/jquery.slimscroll.min.js")
    script(src="/assets/backend/js/core/jquery.scrollLock.min.js")
    script(src="/assets/backend/js/core/jquery.appear.min.js")
    script(src="/assets/backend/js/core/jquery.countTo.min.js")
    script(src="/assets/backend/js/core/jquery.placeholder.min.js")
    script(src="/assets/backend/js/core/js.cookie.min.js")
    script(src="/assets/backend/js/app.js")
    script(src="/assets/backend/js/plugins/bootstrap-notify/bootstrap-notify.min.js")
    script(src="/assets/backend/js/plugins/jquery-validation/jquery.validate.min.js")

    script.
      $(function () {
        var $form = $('form:first');
        $form.validate({
          errorClass: 'help-block text-right animated fadeInDown',
          errorElement: 'div',
          errorPlacement: function (error, e) {
            $(e).parents('.form-group .form-material').append(error);
          },
          highlight: function(e) {
            $(e).closest('.form-group').removeClass('has-error').addClass('has-error');
            $(e).closest('.help-block').remove()
          },
          success: function(e) {
            $(e).closest('.form-group').removeClass('has-error');
            $(e).closest('.help-block').remove();
          },
          rules: {
            'username': {
              required: true,
              minlength: 2
            },
            'password': {
              required: true,
              minlength: 5
            }
          },
          messages: {
            'username': {
              required: 'Please enter a username',
              minlength: 'Your username must consist of at least 2 characters'
            },
            'password': {
              required: 'Please provide a password',
              minlength: 'Your password must be at least 5 characters long'
            }
          }
        });

        $form.submit(function(e) {
          e.preventDefault();

          if(!$form.valid()) {
            return;
          }

          $form.find('button[type="submit"]').hide();

          var url = $form.attr('action');
          var method = $form.attr('method');

          $.ajax({
            url: url,
            type: method,
            data: $form.serializeArray(),
            success: function(response) {
              if(response.success) {
                window.location.href = '/backend';
                return;
              }

              if(response.message) {
                $.notify({message: response.message}, {type: 'warning'});
              }
            },
            complete: function() {
              $form.find('button[type="submit"]').show();
            }
          });
        });
      });


