extends layout.pug

block content
  .row
    .col-xs-12
      h2.page-heading Categories
  hr

  .row
    .col-xs-12.col-sm-6
      form.add.hide.form-horizontal
        .block

          .block-header
            .block-options-simple.btn-group.btn-group-xs
              button.save.btn.btn-primary(type='button', data-toggle='tooltip', data-original-title='save', style='padding-left:15px;padding-right:15px')
                i.fa.fa-save
              button.dismiss.btn.btn-default(type='button', data-toggle='tooltip', data-original-title='close', style='padding-left:15px;padding-right:15px')
                i.fa.fa-close
            h3.block-title.title

          .block-content
            .form-group
              .col-xs-12
                label.css-input.switch.switch-default.switch-square.switch-sm.pull-right
                  input(type='checkbox', name='title[isMultilingual]', value='true')
                  span
                  |  multilingual title?

            .common.hide
              .form-group
                .col-xs-12
                  .form-material
                    input.form-control(type='text', name='title[common]', value='')
                    .help-block.text-left title
                    input.form-control.text-right(type='text', name='slug[common]', value='')
                    .help-block.text-right slug

            .multilingual.hide
              each language, lang in locals.languageList
                .form-group
                  .col-xs-12
                    .form-material
                      input.form-control(type='text', name='title[multilingual][' + lang + ']', value='')
                      .help-block.text-left title [#{language}]
                      input.form-control.text-right(type='text', name='slug[multilingual][' + lang + ']', value='')
                      .help-block.text-right slug [#{language}]

          .block-footer.bg-gray-lighter



      form.edit.hide.form-horizontal
        input(type='hidden', name='_id', value='')

        .block

          .block-header
            .block-options-simple.btn-group.btn-group-xs
              button.save.btn.btn-primary(type='button', data-toggle='tooltip', data-original-title='save', style='padding-left:15px;padding-right:15px')
                i.fa.fa-save
              button.dismiss.btn.btn-default(type='button', data-toggle='tooltip', data-original-title='close', style='padding-left:15px;padding-right:15px')
                i.fa.fa-close
              .btn-group.btn-group-xs(style='margin-left:10px;')
                button.btn.btn-danger(type='button', data-toggle='dropdown')
                  i.fa.fa-trash
                  .caret
                ul.dropdown-menu.dropdown-menu-left
                  li
                    a.delete.btn.btn-xs delete!
            h3.block-title.title

          .block-content
            .form-group
              .col-xs-12
                label.css-input.switch.switch-default.switch-square.switch-sm.pull-right
                  input(type='checkbox', name='title[isMultilingual]', value='true')
                  span
                  |  multilingual title?

            .common.hide
              .form-group
                .col-xs-12
                  .form-material
                    input.form-control(type='text', name='title[common]', value='')
                    .help-block.text-left title
                    input.form-control.text-right(type='text', name='slug[common]', value='')
                    .help-block.text-right slug

            .multilingual.hide
              each language, lang in locals.languageList
                .form-group
                  .col-xs-12
                    .form-material
                      input.form-control(type='text', name='title[multilingual]['+lang+']', value='')
                      .help-block.text-left title [#{language}]
                      input.form-control.text-right(type='text', name='slug[multilingual][' + lang + ']', value='')
                      .help-block.text-right slug [#{language}]

          .block-footer.bg-gray-lighter



    .col-xs-12.col-sm-6
      .block
        .block-header.bg-gray-lighter
          h3.block-title.pull-right List of categories
          button.new.btn.btn-sm.btn-success
            i.fa.fa-plus
        .block-content
          #entries-tree.treeview



  script.
    $(function () {

      /**** GLOBAL VARS ****/
      var $entriesTree = $('#entries-tree');
      var $formAdd = $('form.add:first');
      var $formEdit = $('form.edit:first');
      var categories = [];
      var selectedNode;

      /**** COMMON METHODS ****/
      /**** END OF COMMON METHODS ****/


      /**** ADD ****/
      /**** HANDLERS (ADD) ****/
      $entriesTree.parents('.block:first').find('.new:first').click(showAdd);
      $formAdd.find('.dismiss').click(hideAdd);
      $formAdd.find('.save').click(createItem);
      $formAdd.find('[name="title[isMultilingual]"]').click(function () {
        if ($(this).prop('checked')) {
          $formAdd.find('.multilingual').removeClass('hide').show();
          $formAdd.find('.common').addClass('hide').hide();
          return;
        }

        $formAdd.find('.multilingual').addClass('hide').hide();
        $formAdd.find('.common').removeClass('hide').show();
      });
      /**** END OF HANDLERS (ADD) ****/

      /**** METHODS (ADD) ****/
      function createItem() {
        $.post('/api/categories',
            $formAdd.serializeArray(),
            function () {
              hideAdd();
              getList();
            });
      }

      function hideAdd() {
        $formAdd.addClass('hide').hide();
      }

      function showAdd() {
        $formAdd.find('.title').text('');
        $formAdd.find('input[type="text"]').val('');
        $formAdd.find('select').val('');
        $formAdd.find('[name="title[isMultilingual]"]').prop('checked', true);
        $formAdd.find('.multilingual').removeClass('hide').show();
        $formAdd.find('.common').addClass('hide').hide();
        $formAdd.removeClass('hide').show();
        hideEdit();
      }
      /**** END OF METHODS (ADD) ****/
      /**** END OF ADD ****/


      /**** EDIT ****/
      /**** HANDLERS (EDIT) ****/
      $formEdit.find('.save').click(updateItem);
      $formEdit.find('.dismiss').click(hideEdit);
      $formEdit.find('.delete').click(deleteItem);
      $formEdit.find('[name="title[isMultilingual]"]').click(function() {
        if($(this).prop('checked')) {
          $formEdit.find('.multilingual').removeClass('hide').show();
          $formEdit.find('.common').addClass('hide').hide();
          return;
        }

        $formEdit.find('.multilingual').addClass('hide').hide();
        $formEdit.find('.common').removeClass('hide').show();
      });
      /**** END OF HANDLERS (EDIT) ****/

      /**** METHODS (EDIT) ****/
      function updateItem() {
        $.put('/api/categories/' + selectedNode._id,
          $formEdit.serializeArray(),
          function() {
            hideEdit();
            getList();
          });
      }

      function deleteItem() {
        $.delete(
          '/api/categories/' + selectedNode._id,
          {},
          function() {
            hideEdit();
            getList();
          });
      }

      function hideEdit() {
        $formEdit.addClass('hide').hide();
        if (selectedNode) {
          $entriesTree.treeview('unselectNode', [selectedNode.nodeId, {silent: true}]);
        }
      }

      function showEdit(node) {
        selectedNode = node;
        $formEdit
          .find('input[name="_id"]')
          .val(node._id);

        $formEdit.find('.title').text(node.text);

        var $titleIsMultilingual = $formEdit.find('input[name="title[isMultilingual]"]');
        $titleIsMultilingual.removeAttr('checked');
        if (node.title.isMultilingual) {
          $titleIsMultilingual.prop('checked', true);
        }

        $formEdit
          .find('input[name="title[common]"]')
          .val(node.title.common);
        for(var lang in node.title.multilingual) {
          $formEdit
            .find('input[name="title[multilingual]['+lang+']"]')
            .val(node.title.multilingual[lang])
            .removeAttr('disabled');
        }

        $formEdit
          .find('input[name="slug[common]"]')
          .val(node.slug.common);
        for(var lang in node.slug.multilingual) {
          $formEdit
            .find('input[name="slug[multilingual]['+lang+']"]')
            .val(node.slug.multilingual[lang])
            .removeAttr('disabled');
        }

        if (node.title.isMultilingual) {
          $formEdit.find('.multilingual').removeClass('hide').show();
          $formEdit.find('.common').addClass('hide').hide();
        }
        else {
          $formEdit.find('.multilingual').addClass('hide').hide();
          $formEdit.find('.common').removeClass('hide').show();
        }

        $formEdit.removeClass('hide').show();
        $formAdd.hide();
      }
      /**** END OF METHODS (EDIT) ****/
      /**** END OF EDIT ****/


      /**** LIST ****/
      /**** METHODS (LIST) ****/
      function getList() {
        $.get('/api/categories', {}, function(response) {
          var elements = [];

          if(response.success) {
            response.categories.forEach(function(element) {
              element.text = element.title.common;
              if(element.title.isMultilingual) {
                element.text = [];
                var titles = element.title.multilingual;
                for (var lang in titles) {
                  element.text.push([lang, titles[lang]].join(': '));
                }
                element.text = element.text.join(' | ');
              }

              if(element.children.length > 0) {
                element.nodes = element.children;
                element.nodes.map(function (node) {
                  node.text = node.title.common;
                  if (node.title.isMultilingual) {
                    node.text = [];
                    var titles = node.title.multilingual;
                    for (var lang in titles) {
                      node.text.push([lang, titles[lang]].join(': '));
                    }
                    node.text = node.text.join(' | ');
                  }
                  return node;
                });
              }

              elements.push(element);
            });
          }

          categories = elements;

          $entriesTree.treeview({
            data: categories,
            color: "#555",
            expandIcon: "fa fa-plus",
            collapseIcon: "fa fa-minus",
            onhoverColor: "#f9f9f9",
            selectedColor: "#555",
            selectedBackColor: "#f1f1f1",
            showBorder: !1,
            levels: 2,
            onNodeSelected: function (event, node) {
              showEdit(node);
            },
            onNodeUnselected: function () {
              hideEdit();
            }
          });
        });
      }

      getList();
      /**** END OF METHODS (LIST) ****/
      /**** END OF LIST ****/

    });