extends layout.pug

block content
  h2 Users
  br
  button.btn.btn-primary#add
    i.fa.fa-plus
  hr

  .row
    #form-add.col-xs-12.col-sm-12.col-md-6.col-lg-4.hide
      .block.block-bordered
        .block-header.bg-primary
          h3.block-title Add user
        .block-content
          form.create(action='/api/users')
            .form-group.form-material.floating
              input.form-control(type='text', value='', placeholder='Email (will be used as username)', name='username')
            .form-group.form-material.floating
              input.form-control(type='password', value='', placeholder='Password', name='password')
            .form-group.form-material.floating
              input.form-control(type='text', value='', placeholder='Firstname', name='firstname')
            .form-group.form-material.floating
              input.form-control(type='text', value='', placeholder='Lastname', name='lastname')
            br
            .form-group
              button.btn.form-control(type='submit') CREATE

  #items.row.masonry

  #item-template.hide
    .col-xs-12.col-sm-12.col-md-6.col-lg-4
      .block.block-bordered
        .block-header.bg-primary
          button.btn.btn-danger.pull-right.delete
            i.fa.fa-close
          h3.block-title
        .block-content
          form.create
            input(type='hidden' value='' name='id')
            .form-group.form-material.floating
              input.form-control(type='text', value='', placeholder='Email (will be used as username)', name='username')
            .form-group.form-material.floating
              input.form-control(type='text', value='', placeholder='Password', name='password')
            .form-group.form-material.floating
              input.form-control(type='text', value='', placeholder='Firstname', name='firstname')
            .form-group.form-material.floating
              input.form-control(type='text', value='', placeholder='Lastname', name='lastname')
            br
            .form-group
              button.btn.form-control(type='submit') UPDATE

  script.
    $(function() {
      $('#form-add input').val('');

      $('#add').click(function() {
        $('#form-add').toggleClass('hide').toggleClass('show');
      });

      var $itemTemplate = $('#item-template');
      var $items = $('#items');

      function getList() {
        $items.html('');
        var html = '';
        $.get('/api/users', {}, function(response) {
          if(response.success) {
            response.data.records.forEach(function(record) {
              var $item = $itemTemplate.clone();
              $item.find('form:first').attr('action', '/api/users/'+record._id);
              $item.find('input[name="id"]').attr('value', record._id);
              $item.find('.block-title').html(record.firstname+' '+record.lastname);
              $item.find('input[name="username"]').attr('value', record.username);
              $item.find('input[name="firstname"]').attr('value', record.firstname);
              $item.find('input[name="lastname"]').attr('value', record.lastname);
              html += $item.html();
            });
            $items.html(html);
          }
        });
      }

      getList();


      $('#form-add form').submit(function(e) {
        e.preventDefault();

        var $form = $(this);
        var action = $form.attr('action');

        $.ajax({
          url: action,
          type: 'POST',
          data: $form.serializeArray(),
          complete: function () {
            $form.find('input').val('');
            $('#form-add').toggleClass('hide').toggleClass('show');
            getList();
          }
        });
      });

      $('#items').on('submit', 'form', function(e) {
        e.preventDefault();

        var $form = $(this);
        var action = $form.attr('action');
        $.ajax({
          url: action,
          type: 'PUT',
          data: $form.serializeArray(),
          complete: function () {
            getList();
          }
        });
      });

      $('#items').on('click', 'button.delete', function(e) {
        e.preventDefault();
        if(confirm('Are You sure that You want to delete this user?')) {
          var id = $(this).parent().next().find('input[name="id"]:first').val();
          $.ajax({
            url: '/api/users/' + id,
            type: 'DELETE',
            complete: function () {
              getList();
            }
          });
        }
      });
    });
