footer.row.small-collapse.footer
	.columns.small-24
		include ./footer/footer-header.pug
	.columns.small-24
		include ./footer/footer-sitemap.pug
	.columns.small-24
		include ./footer/footer-legal.pug

|<!-- build:js js/app.min.js -->
script(src="node_modules/jquery/dist/jquery.min.js")
script(src="node_modules/foundation-sites/js/foundation.core.js")
script(src="node_modules/foundation-sites/js/foundation.util.mediaQuery.js")
script(src="node_modules/foundation-sites/js/foundation.accordionMenu.js")
script(src="node_modules/foundation-sites/js/foundation.util.keyboard.js")
script(src="node_modules/foundation-sites/js/foundation.util.motion.js")
script(src="node_modules/foundation-sites/js/foundation.util.nest.js")
script(src="node_modules/foundation-sites/js/foundation.orbit.js")
script(src="node_modules/foundation-sites/js/foundation.util.touch.js")
script(src="node_modules/foundation-sites/js/foundation.util.timerAndImageLoader.js")
script(src="node_modules/motion-ui/motion-ui.js")

script(src="js/app.js")
|<!-- /build -->




