header.row.header
	.columns.large-24
		.row
			.columns.small-24
				a.ads
					img(src='./img/header-ads.png', title='Header ad')
				.header--separator

	.columns.large-24
		.row
			.columns.small-16.small-centered.medium-12.medium-centered.large-8.xlarge-uncentered
				a(href='#')
					img.header--logo(src='./img/logo.png', title='City Life')
			.columns.large-24.xlarge-16.header--navbar
				.row
					.columns.hide-for-small-only.medium-10.medium-centered.large-8.large-uncentered
						include ./header/header-social.pug
					.columns.medium-18.medium-centered.large-7.large-uncentered.xlarge-7
						include ./header/header-search.pug
					.columns.small-18.small-centered.medium-12.large-uncentered.large-9
						include ./header/header-buttons.pug
					.columns.small-24
						a.ads
							img(src='./img/header-ads-2.png', title='Header ad')
	.columns.large-24
		.row
			.columns.small-24
				include ./header/header-menu.pug
