mixin info-bar(date, comment, photos, views, label, color)
	if color == 'white'
		ul.info-bar.info-bar__white
			if date
				li
					a(href='someurl').info-bar--date 6 Января
			if comment
				li
					a(href='someurl').info-bar--comemnts 999
			if photos
				li
					a(href='someurl').info-bar--photos 99
			if views
				li
					a(href='someurl').info-bar--views 99999
			if label
				li
					a(href='someurl').info-bar--labels
						.label--blue Музыка

	else
		ul.info-bar
			if date
				li
					a(href='someurl').info-bar--date 6 Января
			if comment
				li
					a(href='someurl').info-bar--comemnts 999
			if photos
				li
					a(href='someurl').info-bar--photos 99
			if views
				li
					a(href='someurl').info-bar--views 99999
			if label
				li
					a(href='someurl').info-bar--labels
						.label--blue Музыка
