.news-content
	h3
		| Если раньше о том, что боты становятся основным технологическим
		| трендом, говорили аккуратно и как бы между делом, ты в последние
		| пару месяцев это стало притчей во языцех. Таким образом колонка
		| Том Хедфилда на TechCrunch о появлении магазина ботов Messenger

	.row
		.columns.small-24.medium-12
			img.news-content--half-img(src='img/news-photo-2.png')

		.columns.small-24.medium-12
			h3
				| Если раньше о том, что боты становятся основным технологическим
				| трендом, говорили аккуратно и как бы между делом, ты в последние
				| пару месяцев это стало притчей во языцех. Таким образом колонка
				| Том Хедфилда на TechCrunch о появлении магазина ботов Messenger

	img(src='img/news-photo-2.png')
	.news-content--photo-desc
		| Новая знаменитая кондитерская старейшей французской сети

	p
		| Мы уже описывали предсказания на этот год, которые сходятся
		| с мыслями Хедфилда. Похоже, в апреле, на конференции F8,
		| все станет на свои места — если Facebook представит Messenger Bot Store.
	p
		| Если Facebook таки анонсирует магазин на F8, как многие предсказывают,
		| это будет, возможно, наиболее важным событием в технологической
		| индустрии с того момента, как Apple презентовали App Store и SDK
		| iPhone в марте 2008-го.
	p
		| Тогда даже Стив Джобс не мог предположить, насколько большое
		| влияние окажет, как он описывал, «новое приложение, которое
		| позволяет пользователям искать, покупать и скачивать приложения
		| от других компаний прямо на их iPhone».

	h2
		| I’m-a probably have my guard up because it’s a street rule
		| that when men come around that I don’t know.

	p
		| Первая в Москве кондитерская старейшей французской сети.
		| Весь интерьер в московской Ladurée соответствует международным
		| гайдлайнам кондитерской: в нём использованы такие же цвета,
		| элементы и материалы отделки, как и во всех кондитерских сети,
		| в том числе натуральные дерево и мрамор.
	img(src='img/news-photo-1.png')
	p
		| Первая в Москве кондитерская старейшей французской сети.
		| Весь интерьер в московской Ladurée соответствует международным
		| гайдлайнам кондитерской: в нём использованы такие же цвета, элементы
		| и материалы отделки, как и во всех кондитерских сети, в том числе
		| натуральные дерево и мрамор.
	p
		| Смартфон оснащен процессором Octa core (2.3GHz Quad + 1.6GHz Quad),
		| 64 bit, 14 nm, 4GB RAM и специальной системой охлаждения которая
		| сопутсвует увеличению производительности на 63%. Увеличенный обьем
		| батареи и ускоренный режим беспроводной зарядки делает работу со
		| смартфоном  более комфортной и вам не стоит беспокоится о быстром
		| разряде батареи.

	p
		| Геймеры также не останутся в стороне. Впервые в мобильном устройстве
		| используется технология  Vulkan Api позволяющая детализировать графику
		| и скорость игры от чего вы будете получать больше удовольствия.
		| Game launcher и Game Tools позволяют потреблять меньше заряда батареи,
		| блокируют входящие звонки и смс сообщения во время игры, что помогает
		| вам полностью окунутся в игру. Также вы можете записать или снять скриншот
		| процесса игры и сохранить его на вашем устройстве.

	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda atque cupiditate maiores molestias obcaecati quae sed sequi sint. Ad aliquam aliquid animi asperiores autem doloremque ducimus eaque enim esse eum expedita id, impedit incidunt labore laboriosam molestiae officiis omnis porro quaerat quibusdam quod quos repudiandae saepe suscipit tempora tenetur, voluptate voluptates! Ad alias at cum dolor doloremque eaque eveniet explicabo fuga iste itaque laudantium magnam, maiores non officiis pariatur perspiciatis provident quae quibusdam quis sed temporibus ullam, voluptatum. Alias at blanditiis cum cumque dolor esse hic laborum magni, natus nemo officiis optio quidem repellendus saepe ut, veniam voluptatem voluptates.
		h1 Heading 1
		h2 Heading 2
		h3 Heading 3
		h4 Heading 4
		h5 Heading 5
		h6 Heading 6
		strong Strong
		b Bold
		i Italic


		ul
			li Unordered List
			li Unordered List
			li Unordered List
		ol
			li Ordered List
			li Ordered List
			li Ordered List
