mixin catalog-header(color)
	if color === 'yellow'
		.catalog--wrapper
			.catalog.catalog__yellow
				.catalog--title
					| Eдa
				.catalog--scroll
					span.catalog--scroll--left.js-fade-content-left
					span.catalog--scroll--right.js-fade-content-right
				ul.catalog--list
					li
						a.catalog--list--item(href='') Блюда
					li
						a.catalog--list--item(href='') Новости
					li
						a.catalog--list--item(href='') Новые места

	else if color === 'red'
		.catalog--wrapper
			.catalog.catalog__red
				.catalog--title
					| Eдa
				.catalog--scroll
					span.catalog--scroll--left.js-fade-content-left
					span.catalog--scroll--right.js-fade-content-right
				ul.catalog--list
					li
						a.catalog--list--item(href='') Блюда
					li
						a.catalog--list--item(href='') Новости
					li
						a.catalog--list--item(href='') Новые места

	else if color === 'grey'
		.catalog--wrapper
			.catalog.catalog__grey.catalog__border
				.catalog--title
					| Eдa
				.catalog--scroll
					span.catalog--scroll--left.js-fade-content-left
					span.catalog--scroll--right.js-fade-content-right
				ul.catalog--list
					li
						a.catalog--list--item(href='') Блюда
					li
						a.catalog--list--item(href='') Новости
					li
						a.catalog--list--item(href='') Новые места

	else if color === 'blue'
		.catalog--wrapper
			.catalog.catalog__blue
				.catalog--title
					| Eдa
				.catalog--scroll
					span.catalog--scroll--left.js-fade-content-left
					span.catalog--scroll--right.js-fade-content-right
				ul.catalog--list
					li
						a.catalog--list--item(href='') Блюда
					li
						a.catalog--list--item(href='') Новости
					li
						a.catalog--list--item(href='') Новые места

	else if color === 'small'
		.catalog--wrapper
			.catalog.catalog__red.catalog__small

		// for article page
	else if color === 'article-page-red'
		.catalog.catalog__red
			.catalog--title
				| Кино

	else if color === 'article-page-grey'
		.catalog.catalog__grey
			.catalog--title
				| Все статьи

	else if color === 'index-news-green'
		.catalog--wrapper
			.catalog.catalog--news
