footer.row.small-collapse.footer
	.columns.small-24
		include ./footer/footer-header.pug
	.columns.small-24
		include ./footer/footer-sitemap.pug
	.columns.small-24
		include ./footer/footer-legal.pug

|<!-- build:js js/app.min.js -->
script(src="/assets/web/vendor/jquery/dist/jquery.min.js")
script(src="/assets/web/vendor/foundation-sites/js/foundation.core.js")
script(src="/assets/web/vendor/foundation-sites/js/foundation.util.mediaQuery.js")
script(src="/assets/web/vendor/foundation-sites/js/foundation.accordionMenu.js")
script(src="/assets/web/vendor/foundation-sites/js/foundation.util.keyboard.js")
script(src="/assets/web/vendor/foundation-sites/js/foundation.util.motion.js")
script(src="/assets/web/vendor/foundation-sites/js/foundation.util.nest.js")
script(src="/assets/web/vendor/foundation-sites/js/foundation.orbit.js")
script(src="/assets/web/vendor/foundation-sites/js/foundation.util.touch.js")
script(src="/assets/web/vendor/foundation-sites/js/foundation.util.timerAndImageLoader.js")
script(src="/assets/web/vendor/motion-ui/motion-ui.js")

script(src="/assets/web/js/app.js")
|<!-- /build -->




