head
    meta(charset="UTF-8")
    title City life
    | <!--[if lt IE 9]>
    |  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    |  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
    |  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
    |  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    | <![endif]-->

    | <!-- build:js /assets/web/css/app.min.css -->
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="/assets/web/css/foundation.css", rel="stylesheet")
    link(href="/assets/web/css/app.css", rel="stylesheet")

    | <!-- /build -->

    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=cyrillic" rel="stylesheet")