include ./info-bar.pug

.news-item
	.news-item--labels
		.news-item--labels--item
		.news-item--labels--item
	.news-item--photo(style='background-image:url("/assets/web/img/news-img.png")')
	.news-item--content
		a.news-item--content--title Хрустящие бутерброды Крок-месье и мадам
		p.news-item--content--description
			| Микаил в роли принцессы Дианы, Роберт Де Ниро и Джон
			| Траволта в образе смертельных врагов, а Диджей Тим и

		+info-bar(true, true, true, true, false)

