include ./info-bar.pug

mixin news-item-ver(big, photo, title)
	if big
		if photo
			.news-item.news-item__vertical.news-item__vertical-big
				.news-item--photo(style='background-image:url("/assets/web/img/news-img.png")')
				.news-item--content
					a.news-item--content--title Хрустящие бутерброды Крок-месье и мадам
					p.news-item--content--description
						| Микаил в роли принцессы Дианы, Роберт Де Ниро и Джон
						| Траволта в образе смертельных врагов, а Диджей Тим и

					// date, comm, photos, views, label
					+info-bar(true, true, true, true, true)
		else
			.news-item.news-item__vertical.news-item__vertical-big
				.news-item--content.width-100
					a.news-item--content--title Хрустящие бутерброды Крок-месье
					p.news-item--content--description
						| Микаил в роли принцессы Дианы, Роберт Де Ниро и Джон

					// date, comm, photos, views, label
					+info-bar(true, true, true, true, false)

	else
		if photo
			if title
				.news-item.news-item__vertical
					.news-item--photo(style='background-image:url("/assets/web/img/news-img.png")')
					.news-item--content
						a.news-item--content--title Хрустящие бутерброды Крок-месье и мадам
						p.news-item--content--description
							| Микаил в роли принцессы Дианы, Роберт Де Ниро и Джон

						// date, comm, photos, views, label
						+info-bar(true, true, false, true, false)
			else
				.news-item.news-item__vertical.news-item__vertical-small
					.news-item--photo(style='background-image:url("/assets/web/img/news-img.png")')
					.news-item--content
						p.news-item--content--description
							| Микаил в роли принцессы Дианы, Роберт Де Ниро и Джон

						// date, comm, photos, views, label
						+info-bar(true, true, false, false, false)
		else
			if title
				.news-item.news-item__vertical
					.news-item--content.width-100
						a.news-item--content--title Хрустящие бутерброды Крок-месье и мадам
						p.news-item--content--description
							| Микаил в роли принцессы Дианы, Роберт Де Ниро и Джон

						// date, comm, photos, views, label
						+info-bar(true, true, false, true, false)
			else
				.news-item.news-item__vertical
					.news-item--content.width-100
						p.news-item--content--description
							| Микаил в роли принцессы Дианы, Роберт Де Ниро и Джон

						// date, comm, photos, views, label
						+info-bar(true, true, false, true, false)
