@import '../base/settings';

.catalog {
  height: 36px;
  width: 100%;
  padding: 5px 15px;
  margin: 0 0 10px;

    &--wrapper {
      padding-left: map-get($grid-column-gutter, medium) / 2;
    }
    &__border {
      position: relative;
      &:after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -5px;

        display: block;
        width: 100%;
        border-bottom: 5px solid map-get($foundation-palette, primary);
      }
    }

    &--news {
      height: 0;
      margin: 0;

      border-top: 4px solid map-get($foundation-palette, green);
    }

    &__small {
      height: 10px !important;
    }
    &__red {
      background: map-get($foundation-palette, primary) url('../img/redline.jpg');
    }
    &__yellow {
      background: url('../img/yellowline.jpg');
    }
    &__grey {
      background: $light-gray url('../img/greyline.jpg');

      .catalog--list > li >
      .catalog--list--item,
      .catalog--title {
        color: $black;
        line-height: 1;
      }
    }

    &__blue {
      background: $label-blue url('../img/blueline.jpg');
    }

  &--title {
    display: inline-block;
    opacity: 1;

    color: $white;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
  }

  &--list {
    float: right;

    display: inline-block;
    opacity: .9;
    list-style-type: none;

    & > li {
      display: inline-block;
      margin-left: 10px;

      & > a {
        color: $white;

        &:focus,
        &:hover,
        &:active {
          color: $white;
          text-decoration: none;
        }
      }
    }

    &--item {
      margin-right: 18px;

      color: $white;
      font-size: 18px;
      font-weight: 500;
      text-decoration: underline;

      @include breakpoint(largde down) {
        margin-right: 3px;
      }

      @include breakpoint(medium down) {
        display: none;
      }

    }
  }

  &--scroll {
    float: right;

    display: inline-block;
    height: 18px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;

    @include breakpoint(medium down) {
      display: none;
    }

    &--left {
      display: inline-block;
      height: 18px;
      width: 18px;
      margin-right: 3px;
      background: url('../img/small-arrow.png') no-repeat;
      transform: rotate(180deg);
    }

    &--right {
      display: inline-block;
      height: 18px;
      width: 18px;
      background: url('../img/small-arrow.png') no-repeat;
    }
  }
}
