@import '../base/settings';

.footer-legal {
  padding: 15px 15px 15px 45px;
  background-color: map-get($foundation-palette, primary-light);
  color: $white;
  @include breakpoint(large down) {
    padding-left: 15px;
  }
  &--wrapper {
    padding: 0;
  }
}
