.footer-social {
  list-style-type: none;
  font-size: 0;
  text-align: right;

  & > li {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;
    overflow: hidden;
    margin-left: 5px;
  }

  &--item {
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  &--icon-skype {
    background-image: url('../img/footer-skype.png');
  }
  &--icon-fb {
    background-image: url('../img/footer-fb.png');
  }
  &--icon-youtube {
    background-image: url('../img/footer-youtube.png');
  }
  &--icon-google {
    background-image: url('../img/footer-google.png');
  }
  &--icon-twitter {
    background-image: url('../img/footer-twitter.png');
  }
  &--icon-instagram {
    background-image: url('../img/footer-instagram.png');
  }
}
