@import '../base/settings';

.footer-sitemap {
  padding: 15px 15px 15px 45px;
  background-color: map-get($foundation-palette, primary);
  @include breakpoint(large down) {
    padding-left: 15px;
  }
  .columns.small-3 {
    float: left;
  }

  &-item {
    padding-right: 13%;
    margin-bottom: 15px;

    & > ul {
      font-size: 0;
      & > li {
        display: inline;
        width: initial;
      }
    }
    &--heading > a {
      display: block;
      border-bottom: 1px solid $white;
      font-size: 20px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 0.5rem;

      color: $white;
      line-height: 1;

      &:focus,
      &:hover,
      &:active {
        color: $white;
      }
    }

    &--item {
      position: relative;
      padding-right: 5%;
      margin-right: 5%;
      color: $white;
      font-size: 16px;

      &:after {
        content: '';
        position: absolute;
        top: 3px;
        right: 0;
        background-color: $white;
        height: 14px;
        width: 1px;
        overflow: hidden;
      }

      &:focus,
      &:hover,
      &:active {
        color: $white;
        text-decoration: underline;
      }
    }

  }
}
