@import '../base/settings';

.footer-header {
  padding: 15px 15px 15px 45px;
  background-color: map-get($foundation-palette, primary-dark);

  &--logo {
    display: block;
    margin: 2px auto;
  }
  &--indicators {
    display: block;
    text-align: center;

    @include breakpoint(large down) {
      & > div {
        float: none;
      }
    }
  }
  @include breakpoint(large down) {
    padding-left: 15px;
  }

  &--menu {
    display: inline-block;
    width: 100%;
    margin: 2px 0;
    list-style-type: none;
    text-align: right;

    @include breakpoint(small down) {
      text-align: center;
    }

    & > li {
      display: inline-block;
      padding: 0 3%;
    }

    &--item {
      font-size: 18px;
      font-weight: 300;
      color: $white;
      text-decoration: underline;

      &:focus,
      &:hover,
      &:active {
        color: $white;
        text-decoration: none;
      }
    }

  }

  &--search {
    position: relative;
    display: inline-block;

    float: right;
    border: 1px solid $white;
    margin: 0 10px;

    @include breakpoint(large down) {
      margin: 10px;
    }

    & > input {
      width: 100%;
      padding: 4px 4px 3px 4px;
      background-image: url('../img/glass.svg');
      background-repeat: no-repeat;
      background-position: 96% 60%;
      background-size: 18px;
      opacity: 0.9;
      border: 1px solid $white;

      &:-ms-input-placeholder {
        color: #575757;
        font-size: 1px;
        font-weight: 400;
        line-height: 18px;
      }
      &::-moz-placeholder {
        color: #575757;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
      }
      &::-webkit-input-placeholder {
        color: #575757;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }

  &--social {
    float: right;
    display: inline-block;
    vertical-align: top;

    @include breakpoint(large down) {
      margin: 10px 0;
    }
  }
}
