.header-search {

  &--input {
    position: relative;
    display: inline-block;
    width: 100%;

    & > input {
      width: 100%;
      padding: 5px;
      background-image: url('../img/glass.svg');
      background-repeat: no-repeat;
      background-position: 96% 60%;
      background-size: 18px;
      border: 1px solid #f1f1f1;

      &:-ms-input-placeholder {
        color: #575757;
        font-size: 1px;
        font-weight: 400;
        line-height: 18px;
      }
      &::-moz-placeholder {
        color: #575757;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
      }
      &::-webkit-input-placeholder {
        color: #575757;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }

  @include breakpoint(large down) {
    margin-bottom: 10px;
  }
}
