@import '../base/settings';

.header-menu {
  list-style-type: none;
  background-color: map-get($foundation-palette, primary);
  box-shadow: 0px -2px 1px -1px rgba(71,71,71,1);
  padding: 0 1% 0 2%;

  &--item {
    display: inline-block;
    padding: 5px 1%;

    & > a {
      color: $white;
      font-size: 18px;
      transition: all 0.5s ease-out 0.5s;

      &:focus, &:hover, &:active {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  &--media {
    float: right;
    padding: 8px 0;

    & > ul {
      list-style-type: none;
      height: 22px;
      & > li {
        display: inline-block;
        a {
          display: block;
          margin-right: 10px;
          height: 20px;
          width: 20px;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
    &--facebook {
      background-image: url('../img/menu-icons/facebook.svg');
    }
    &--twitter {
      background-image: url('../img/menu-icons/twitter.svg');
    }
    &--google {
      background-image: url('../img/menu-icons/google.svg');
    }
    &--search {
      background-image: url('../img/menu-icons/search.svg');
    }
    &--user {
      background-image: url('../img/menu-icons/user.svg');
    }
  }


  &--accordion {

    &--item {
      color: $white;
      background-color: map-get($foundation-palette, primary);
      border-bottom: 1px solid $white;
      text-align: center;

      &:focus, &:hover, &:active {
        color: $white;
        background-color: map-get($foundation-palette, primary);
      }
    }

    ul.nested {
      margin: 0;
    }
  }
}