@import '../base/settings';

.header {
  margin-bottom: 8px;

  &--separator {
    margin-top: 5px;
    border-bottom: 6px solid map-get($foundation-palette, primary);
  }

  &--logo {
    display: block;
    margin: 11% auto auto auto;
    padding: 0 10%;

      @include breakpoint(large down) {
        width: 100%;
        margin: 0 auto 10px;
        padding-top: 3%;
      }
  }

  &--navbar {
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
