.header-lang {
  position: relative;
  display: inline-block;

  background-color: #f1f1f1;
  padding: 7px 11px;
  width: 100%;
  line-height: 1;

  &--wrapper {
    position: relative;
    width: 68%;
    float: right;
    display: inline-block;
    margin-right: -1px;
    cursor: pointer;
  }

  &--icon {
    display: inline-block;
    height: 14px;
    width: 24px;
    background: url("../img/flag-rus.png") no-repeat center;
    background-size: contain;
  }
  &--text {
    cursor: pointer;
    color: #479bea;
    text-decoration: underline;
    vertical-align: top;
    display: inline-block;
    font-size: 14px;

    &:focus, &:hover, &:active {
      text-decoration: none;
      color: #0096ea;
    }
  }
  &--caret {
    position: absolute;
    top: 40%;
    right: 5%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
  }

  @include breakpoint(large down) {
    margin-bottom: 10px;
  }

  &-dropdown {
    background-color: #f1f1f1;
    padding: 7px 11px;
    position: absolute;
    right: 0;
    top: 37px;
    width: 200px;
    z-index: 999;
    &:before {
      content: '';
      position: absolute;
      top: -6px;
      right: 3%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent #f1f1f1 transparent;
    }
  }
}
.header-enter {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 6px 2.5%;
  width: 31%;
  line-height: 1;

  &--icon {
    display: inline-block;
    height: 14px;
    margin-top: 2px;
    margin-right: 2%;
    width: 24px;
    background-image: url("../img/enter.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--text {
    color: #212121;
    text-decoration: underline;
    vertical-align: top;
    display: inline-block;

    &:focus, &:hover, &:active {
      color: #212121;
      text-decoration: none;
    }
  }
}
