.header-social {
  padding-bottom: 6px;
  list-style-type: none;
  font-size: 0;

  & > li {
    display: inline-block;
    position: relative;
    width: 15%;
    margin-right: 1.5%;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &--item {
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  &--icon-fb {
    background-image: url('../img/header-facebook.png');
  }
  &--icon-tw {
    background-image: url('../img/header-twitter.png');
  }
  &--icon-yt {
    background-image: url('../img/header-youtube.png');
  }
  &--icon-gp {
    background-image: url('../img/header-gplus.png');
  }
  &--icon-rss {
    background-image: url('../img/header-rss.png');
  }
  &--icon-mail {
    background-image: url('../img/header-mail.png');
  }
}
