@import '../base/settings';

.info-bar {
  list-style-type: none;
  padding: 0;
  margin: 6px 0 3px;
  display: block;
  font-size: 0;

  &__white {

    .info-bar{

      &--photos {
        color: $white;
        &:before {
          background-image: url('../img/camera-white.svg');
        }
      }

      &--date {
        color: $white;
      }

      &--views {
        color: $white;
        &:before {
          background-image: url('../img/eye-white.svg');
        }
      }
      &--comemnts {
        color: $white;
        &:before {
          background-image: url('../img/chat-white.svg');
        }
      }

    }
  }

  & > li {
    display: inline-block;
    padding-right: 1%;
    font-size: 12px;
    line-height: 1.3;
    margin-right: 2%;
  }

  &--date {
    color: map-get($foundation-palette, links);
  }

  &--comemnts {
    color: $dark-gray;
    position: relative;
    margin-left: 17px;
    &:hover {
      color: $dark-gray;
    }
    &:before {
      content: '';
      position: absolute;
      height: 12px;
      width: 12px;
      left: -16px;
      top: 2px;

      overflow: hidden;
      background-image: url("../../img/chat.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &--photos {
    color: $dark-gray;
    position: relative;
    margin-left: 17px;
    &:hover {
      color: $dark-gray;
    }
    &:before {
      content: '';
      position: absolute;
      height: 12px;
      width: 12px;
      left: -16px;
      top: 1px;

      overflow: hidden;
      background-image: url('../../img/camera.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &--views {
    color: $dark-gray;
    position: relative;
    margin-left: 17px;
    &:hover {
      color: $dark-gray;
    }
    &:before {
      content: '';
      position: absolute;
      height: 12px;
      width: 12px;
      left: -16px;
      top: 1px;

      overflow: hidden;
      background-image: url('../../img/eye.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &--labels {

  }
}
