@import '../base/settings';

.default-label {
  color: $white;
  font-size: 9px;
  padding: 2px 4px;
  display: inline-block;
  vertical-align: top;
}

.label {
  &--red {
    @extend .default-label;
    background-color: map-get($foundation-palette, primary);
  }
  &--green {
    @extend .default-label;
    background-color: $label-green;
  }
  &--gray {
    @extend .default-label;
    background-color: $label-gray;
  }
  &--blue {
    @extend .default-label;
    background-color: $label-blue;
  }
  &--purple {
    @extend .default-label;

    background-color: $label-purple;
  }
  &--orange {
    @extend .default-label;
    background-color: $label-orange;

  }
  &--big {
    opacity: .9;
    font-weight: 500;
    color: $white;
    font-size: 14px;
    padding: 3px 5px;
  }
}
