@import '../base/settings';

.news-item {
  margin-bottom: 10px;

  &__vertical {
    border-bottom: 1px solid #f1f1f1;
    margin: 0 5px 10px 0;

    &-big {
      .news-item {
        &--title {
          font-size: 18px;
          line-height: 1.1;
        }
      }
    }
    .news-item {
      &--photo {
        width: 32%;
        display: inline-block;
        vertical-align: top;
        padding-bottom: 19%;
        margin-bottom: 10px;
      }
      &--content {
        width: 66%;
        display: inline-block;
        vertical-align: top;

        &--title {
          margin-top: -3px;
          font-size: 16px;
        }
        &--description {
          font-size: 13px;
          line-height: 1.1;
        }
      }
    }

    &-small {
      .news-item {
        &--photo {
          padding-bottom: 27%;
        }
      }
    }

  }

  &--labels {

    &--item {

    }
  }

  &--photo {
    margin-bottom: 5px;
    width: 100%;
    padding-bottom: 62%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--content {
    padding: 0 2px;

    &--title {
      margin: 7px 0;
      color: $black;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      width: 100%;
      display: block;
      text-overflow: ellipsis;

      &:hover {
        color: $black;
      }
    }

    &--description {
      margin-top: -2px;
      color: $dark-gray;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3;
    }
  }
}
