@import '../base/settings';

.news-header {
  color: $black;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
  padding: 0 8px;

  &--infobar {
    padding: 0 8px;
  }

}

.header-reset {
  line-height: 1.3;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.news-content {
  padding: 0 8px;
  color: $black;

  &__extended {
    border-right: 1px solid $medium-gray;
  }
  &--photo-desc {
    clear: both;

    display: block;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 20px;

    border-bottom: 1px solid $medium-gray;

    color: $dark-gray;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
  }

  &--half-img {
    padding-right: 10px;
  }

  p {
    font-size: 16px;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 20px;
  }
  
  img {
    width: 100%;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 30px;
    @extend .header-reset;
  }

  h2 {
    font-size: 24px;
    @extend .header-reset;
  }
  h3 {
    font-size: 18px;
    @extend .header-reset;
  }
  h4 {
    font-size: 16px;
    @extend .header-reset;
  }
  h5 {
    font-size: 14px;
    @extend .header-reset;
  }
  h6 {
    font-size: 12px;
    @extend .header-reset;
  }
  strong {
    font-weight: 500;
  }
  b {
    font-weight: 500;
  }
  i {
    font-style: italic;
  }
}
