@import '../base/settings';

.photo-news-item {
  overflow: hidden;
  display: block;
  position: relative;
  margin-bottom: 6px;

  &--labels {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 0;

    &--big {
      position: absolute;
      top: 2px;
      right: 2px;
      font-size: 0;

      & > * {
        font-size: 16px;
        padding: 1px 15px;
        opacity: 0.8;
      }

    }
  }

  &--content {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-box-shadow: inset 0px -157px 109px -93px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -157px 109px -93px rgba(0,0,0,0.75);
    box-shadow: inset 0px -157px 109px -93px rgba(0,0,0,0.75);
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 35% 5% 2%;
  }
  &--title {
    color: $white;
    font-size: 30px;
    font-weight: 500;
    line-height: 26px;
  }

  &--description {
    color: $white;
    font-size: 14px;
    line-height: 14px;
    padding: 1% 0;
  }
  .news-item--info {
    padding-bottom: 1%;
  }
}
