@import '../base/settings';

.photo-item {
  display: block;
  position: relative;
  margin-bottom: 10%;
  padding-bottom: 68.5%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 0;

  @include breakpoint(medium down) {
    padding-bottom: 63%;
    margin-bottom: 5%;
    .photo-item {

      &--info {
        bottom: -6%
      }
    }
  }

  &--labels {
    position: absolute;
    top: 0;
    right: 0;
    &--item {

    }
  }

  &__big {
    height: 0;
    padding-bottom: 65%;
    margin-bottom: 0;

    .photo-item {

      &--photo {
        max-height: 350px;
      }

      &--info {
        display: inline-block;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 30% 5px 5px;
        -webkit-box-shadow: inset 0px -157px 109px -93px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px -157px 109px -93px rgba(0,0,0,0.75);
        box-shadow: inset 0px -157px 109px -93px rgba(0,0,0,0.75);
        &--photos {
          color: $white;
          & + a {
            color: $white;
            text-decoration: underline;
          }
          &:before {
            background-image: url('../img/camera-white.svg');
          }
        }
        &--date {
          color: $white;
        }
        &--views {
          color: $white;
          &:before {
            background-image: url('../img/eye-white.svg');
          }
        }
      }
    }
  }

  &--photo {
    width: 100%;
    max-height: 150px;

    @include breakpoint(middle down) {
      max-height: 350px;
    }
  }

  &--content {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-box-shadow: inset 0px -157px 109px -93px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -157px 109px -93px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -157px 109px -93px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    display: block;
    padding: 35% 2% 0 2%;
  }
  &--title {
    color: $white;
    font-size: 30px;
    font-weight: 500;
    line-height: 26px;
  }

  &--description {
    color: $white;
    font-size: 14px;
    line-height: 14px;
    padding: 1% 0;
  }

  &--info {
    list-style-type: none;
    padding: 0;
    margin: 6px 0 0;
    display: block;
    font-size: 0;
    position: absolute;
    bottom: -12.5%;

    & > li {
      display: inline-block;
      padding-right: 1%;
      font-size: 13px;
      line-height: 1.3;
      margin-right: 2%;
    }
    &--date {
      color: $dark-gray;
    }
    &--photos {
      color: $dark-gray;
      position: relative;
      margin-left: 17px;
      & + a {
        color: $dark-gray;
        text-decoration: underline;
        padding-left: 5px;
        &:hover {
          color: $dark-gray;
        }
      }

      &:before {
        content: '';
        position: absolute;
        height: 13px;
        width: 13px;
        left: -16px;
        top: 1px;

        overflow: hidden;
        background-image: url('../img/camera.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &--views {
      color: $dark-gray;
      position: relative;
      margin-left: 17px;
      &:hover {
        color: $dark-gray;
      }
      &:before {
        content: '';
        position: absolute;
        height: 13px;
        width: 13px;
        left: -16px;
        top: 1px;

        overflow: hidden;
        background-image: url('../img/eye.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
