@import '../base/settings';

.sidebar {
  padding-left: 13px;

  & > .ads {
    display: block;
    margin-bottom: 10px;
  }
  &--header {
    color: map-get($foundation-palette, primary);
    font-size: 24px;
    font-weight: 600;
    border-bottom: 5px solid map-get($foundation-palette, primary);
    margin-bottom: 5px;
  }
}
